<%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/navbar.ejs') %>
  <main>
    <section class="sec-main sec-main2">
      <h1>G TEST</h1>
      <h2>Fill in details below</h2>
    </section>
    <%- include('./partials/g_section.ejs') %>
  </main>
  <%- include('./partials/footer.ejs') %>
</body>
